@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 20s linear infinite;
}
